<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Modelos BMW</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>    
    <link rel="stylesheet" href="../css/modelos.css">
    <link rel="shortcut icon" href="../imgs/logo-bmw.png" type="image/x-icon">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="menu-fixo">  
            <div class="menu">  
                <ul>
                    <li><a href="../index.html">Inicio</a></li> 
                    <li><a href="../view/modelos.html">Modelos</a></li>
                    <li><a id="cadastro" href="../view/cadastro.html" >Cadastre-se</a></li>
                    <li><a id="login" href="../view/login.html" class="botao_entrar">Login</a></li>
                    <li><a id="endereco" href="../view/endereco.html" class="botao_entrar">Cadastro de Endereço</a></li>
                    
                </ul>                         
            </div>
        </nav>
    </header>
<br><br><br><br>
    <!-- Conteúdo Principal -->
    <main>
        <br>
        <section class="modelos-container">
            <div class="modelos-grid">
                <div class="modelo-item">
                    <img src="../imgs/fotos/modelos gasolina/bmw-320.jpg" >
                    <h2>BMW 320i 2023 Turbo flex</h2>
                    <p>R$ 359.900,00</p>
                </div>
                <div class="modelo-item">
                    <img src="../imgs/fotos/modelos hibrido/bmw-i8.jpeg" >
                    <h2>BMW i8 2019</h2>
                    <p>R$ 649.900,00</p>
                </div>
                <div class="modelo-item">
                    <img src="../imgs/fotos/imgs_modelos/4.jpg" >
                    <h2>BMW Z4 2020</h2>
                    <p>R$ 345.900,00</p>
                </div>
            </div><br><br>

            <div class="modelos-grid">
                <div class="modelo-item">
                    <img src="../imgs/fotos/imgs_modelos/1.jpg" >
                    <h2>BMW 320i flex 2021</h2>
                    <p>R$ 310.900,00</p>
                </div>
                <div class="modelo-item">
                    <img src="../imgs/fotos/imgs_modelos/2.jpg" alt="BMW i7">
                    <h2>BMW X6 2021</h2>
                    <p>R$ 599.900,00</p>
                </div>
                <div class="modelo-item">
                    <img src="../imgs/fotos/imgs_modelos/5.jpg" alt="BMW i7">
                    <h2>BMW M5 2019 Competition</h2>
                    <p>R$ 539.900,00</p>
                </div>
            </div>
        </section>
    </main>
<br><br>
    <!-- Rodapé -->
    <footer>
        <br>
        <a href="../index.html"><img src="../imgs/logo-bmw.png" width="50px"><br><br></a>
        <p> 2024 - BMW - Todos os direitos reservados </p></a>
        <br>
    </footer>
</body>
</html>
